# .github/workflows/deploy-main.yml

name: Deploy to Production Server

# 'main' 브랜치에 push 이벤트가 발생했을 때 이 워크플로우를 실행합니다.
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/stamp-app:latest 

    - name: Deploy to server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.MAIN_HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
        
          docker system prune -a -f
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/stamp-app:latest
          docker stop stamp-app-main || true
          docker rm stamp-app-main || true
          
          docker run -d --name stamp-app-main \
            -p 3000:3000 \
            -e SECURE_KEY_CONTENT='${{ secrets.SECURE_KEY_CONTENT }}' \
            -e APP_ENV='production' \
            ${{ secrets.DOCKERHUB_USERNAME }}/stamp-app:latest